{% extends 'default.html' %}

{% block style %}
<style>
    .item-detail{
        margin-left: 11px;
        position:relative;
    }
    .item-detail b{
        
    }
    .item-detail hr{
        margin-top:0;
    }
    .harga {
        margin-top:5px;
        left:1px;
        margin-bottom:1px;
    }
    .harga span{
        font-size:23px;
        font-weight: bold;
    }
    .items div {
        min-height:173px;
    }
    .item-detail .btns, p.harga {
        position:absolute;
        bottom:1px
    }
    .btns {
        right: 1px;
    }
    
    .item-title {
        position: relative;
    }
    .items {
        padding-bottom:3px;
        margin-bottom: 5px
    }
    .items:hover {
        border-bottom: 7px solid #aaa;
    }
    .products a {
        font-weight: bold;
        font-size: 23px;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $.ajaxSetup({
        dataType: 'json',
        url:'/beli/add',
        method: 'post'
    });
    
    $(function() {
        $('.saved').on('click', function(e) {
            var self = $(this);
            $.ajax({data:{id:self.data('id')}})
                .done(function(resp){})
                .fail(function(jqxhr, err, message){})
        });
    })
</script>
{% endblock %}

{% block content %}
    <div class="products">
        <a href="/pulsa/">
            Daftar pulsa ({{total_pulsa}})</h3> 
        </a>
    </div>
    <hr/>
    <div class="row-fluid">
        {% for pulsa in all_pulsa %}
        <div class="span3">
            <div class="row-fluid items">
                <div class="span6">
                    <div class="item-title">
                        <a href="/pulsa/detail/{{pulsa.id}}">
                            <img src="{{pulsa.img}}" class="img-polaroid"/>
                        </a>
                        <p class="harga">RP <span>{{pulsa.harga_jual}}</span></p>
                    </div>
                </div>
                <div class="span6">
                    <div class="item-detail">
                        <b>{{pulsa.nama}}</b>
                        <hr/>
                        <p>Jumlah stok <b>{{pulsa.stok}}</b></p>
                        <span class="btns btn-group">
                            <a class="btn btn-primary beli" href="/pulsa/beli/{{pulsa.id}}">Beli</a>
                            <a class="btn saved" data-id="{{pulsa.id}}">Add</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
