{% load static %}
<!DOCTYPE html>
<!--[if IE 8]>
    <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" > <!--<![endif]-->
    <head>
        <title>Login dulu coi</title>
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'css/foundation4.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv.js'%}"></script>
        <![endif]-->

        
        <link rel="shortcut icon" href="{% static 'img/favicon.png'%}"/>
        
        <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
        <style>
            
            .login-row {
                width:100%;
                position:absolute;
                margin-top:7%;
                padding: 17px;
                background-color: #eee;
            }
        </style>
    </head>
    
    <body>
        <div class="login-row">
            <div class="row container-single">
                <div class="large-7 columns mainbar">
                    <div class="content">
                        <h2>Terminal Cell</h2>
                        <div class="ads hides">
                        <div class="image">
                            <img src="{% static 'terminal-logo.png'%}" alt="Indowebster">
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-5 columns sidebar">
                <div class="login-form">
                    <h4>Form Login</h4>
                    {% if login_error %}
                        <div data-alert="" class="alert-box alert">
                            {{login_error}}
                            <a href="" class="close">×</a>
                        </div>
                    {% endif %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="field f-email ">
                            <div class="clear"></div>
                            <input type="text" name="u" value="{{username}}" placeholder="username" autofocus>
                        </div>

                        <div class="field f-password  ">
                            <input type="password" name="p" placeholder="password" value="">
                        </div>
                
                        <div class="field f-button">
                            <button class="button" name="login" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
