{% extends 'default.html' %}

{% block content %}
    <div class="row-fluid">
        <div class="span6 item-image">
            <img src="{{pulsa.img}}" class="img img-polaroid">
        </div>
        <div class="span6 item">
            <h2>{{pulsa.name}}</h2>
            <p>Jumlah Stock: <b>{{pulsa.stock}}</b></p>
            <p>Waktu input: <b>{{pulsa.add_date}}</b></p>
            <p>Waktu modifikasi: <b>{{pulsa.mod_date}}</b></p>
            <p>User: <b>{{pulsa.user}}</b></p>
        </div>
    </div>
{% endblock %}
