{% extends 'default.html' %}

{% load my_helper %}

{% block style %}
<style>
    .item-detail{
        margin-left: 11px;
        position:relative;
    }
    .item-detail b{
        
    }
    .item-detail hr{
        margin-top:0;
    }
    .harga {
        margin-top:5px;
        left:1px;
        margin-bottom:1px;
        position: relative;
    }
    .harga span.rp {
        position: absolute;
        top: -11px;
        font-size: 11px;
        left: 4px;
        font-weight: bold; 
    }
    .harga span.h{
        font-size:23px;
        font-weight: bold;
    }
    .items div {
        min-height:173px;
    }
    .item-detail .btns, p.harga {
        position:absolute;
        bottom:1px
    }
    .btns {
        right: 1px;
    }
    
    .item-title {
        position: relative;
    }
    .items {
        padding-bottom:3px;
        margin-bottom: 5px
    }
    .items:hover {
        border-bottom: 7px solid #aaa;
    }
    .products a {
        font-weight: bold;
        font-size: 23px;
    }
    
    .item:hover {
        //background-color: #ddd;
        border-bottom: 3px solid #aaa;
    }
    .item {
        min-height: 201px;
    }
    .item .detail-atas {
        min-height:151px;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/html" id="form-beli-template">
    <div class="show-on-print">
        <form onsubmit="return Item.doBeli(this);">
            <div class="row">
                <div class="four columns"><p>Id</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'id'|with_brace }}" name="id" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Nama</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'nama'|with_brace }}" name="nama" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Harga (Rp)</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'harga'|with_brace }}" name="harga" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Jumlah</p></div>
                <div class="eight columns">
                    <input type="text" value="1" name="jumlah" autofocus
                        onkeyup="Item.calculate(this.value, {{ 'harga'|with_brace }});">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Harga total (Rp)</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'harga'|with_brace }}"
                        name="total_harga" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Pelanggan</p></div>
                <div class="eight columns">
                    <input type="text" value="Anonymous" name="nama_pelanggan">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Keterangan</p></div>
                <div class="eight columns">
                    <textarea name="dll"></textarea>
                </div>
            </div>
            <div class="row hide-on-print submit-button">
                <button type="submit" class="twelve columns button large">Beli</button>
            </div>
        </form>
    </div>
</script>
<script type="text/javascript">
    $(function() {
        $('.pulsa-beli').on('click', Item.showBeli)
        $('.pulsa-add').on('click', Item.doAdd)
    })
</script>
{% endblock %}

{% block content %}
    {% for tipe in all_type %}
    <div class="twelve columns panel">
        <div class="row">
            <div class="twelve columns">
                <a href="/produk/by/{{tipe.nama}}">
                    <h2>{{tipe.nama_keren}} ({{tipe.nama|get_total_item}})</h2>
                </a>
            </div>
            <hr/>
            <div class="twelve columns">
                <div class="row">
                    {% for item in tipe.nama|get_item_by_type:4 %}
                    <div class="three columns item">
                        <div class="row detail-atas">
                            <div class="six columns image">
                                <a href="/produk/by/{{tipe.nama}}/{{item.id}}">
                                    <img src="{{item.img}}" class="img"/>
                                </a>
                            </div>
                            <div class="six columns detail">
                                <p><h5>{{item.nama}}</h5></p>
                                <p>Stock <b>{{item.stok}}</b></p>
                            </div>
                        </div>
                        
                        <div class="row detail-bawah">
                            <div class="six columns harga">
                                <span class="rp">Rp</span>
                                <span class="h">{{item.harga_jual}}</span>
                            </div>
                            <div class="six columns">
                                <div class="row" id="item{{item.id}}"
                                     data-id="{{item.id}}" data-nama="{{item.nama}}"
                                     data-harga="{{item.harga_jual}}"
                                >
                                    <span class="button small five pulsa-beli">Beli</span>
                                    <span class="button five small pulsa-add">Add</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
