{% extends 'default.html' %}

{% load my_helper %}

{% block style %}
<style>
    .item-detail{
        margin-left: 11px;
        position:relative;
    }
    .item-detail b{
        
    }
    .item-detail hr{
        margin-top:0;
    }
    .harga {
        margin-top:5px;
        left:1px;
        margin-bottom:1px;
    }
    .harga span{
        font-size:23px;
        font-weight: bold;
    }
    .items div {
        min-height:173px;
    }
    .item-detail .btns, p.harga {
        position:absolute;
        bottom:1px
    }
    .btns {
        right: 1px;
    }
    
    .item-title {
        position: relative;
    }
    .items {
        padding-bottom:3px;
        margin-bottom: 5px
    }
    .items:hover {
        border-bottom: 7px solid #aaa;
    }
    .products a {
        font-weight: bold;
        font-size: 23px;
    }
    .pulsa {
        border-right: 1px solid #aaa;
    }
    .pulsa:last-child{
        border-right:none;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $.ajaxSetup({
        dataType: 'json',
        url:'/beli/add',
        method: 'post'
    });
    
    $(function() {
        $('.saved').on('click', function(e) {
            var self = $(this);
            $.ajax({data:{id:self.data('id')}})
                .done(function(resp){})
                .fail(function(jqxhr, err, message){})
        });
    })
</script>
{% endblock %}

{% block content %}
    {% for tipe in all_type %}
    <div class="twelve columns panel">
        <div class="row">
            <div class="twelve columns">
                <a href="/pulsa">
                    <h2>{{tipe.nama_keren}} ({{tipe.nama|get_total_item}})</h2>
                </a>
            </div>
            <hr/>
            <div class="twelve columns">
                <div class="row">
                    {% for item in tipe.nama|get_item_by_type:4 %}
                    <div class="three columns pulsa">
                        <div class="row">
                            <div class="six columns">
                                <a href="/produk/by/{{tipe.nama}}/{{item.id}}">
                                    <img src="{{item.img}}" class="img"/>
                                </a>
                            </div>
                            <div class="six columns">
                                <div class="row">
                                    <p><b>{{item.nama}}</b></p>
                                    <p>Jumlah Stock <b>{{item.stok}}</b></p>
                                </div>
                                <div class="row">
                                    <ul class="button-group">
                                        <li>
                                            <a href="/produk/beli/{{item.id}}" class="button small">Beli</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="button small pulsa-add">Add</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
