{% extends 'default.html' %}

{% load my_helper %}

{% block style %}

{% endblock %}

{% block script %}
<script type="text/html" id="form-beli-template">
    <div class="show-on-print">
        <form onsubmit="return Item.doBeli(this);">
            <div class="row">
                <div class="four columns"><p>Id</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'id'|with_brace }}" name="id" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Nama</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'nama'|with_brace }}" name="nama" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Harga (Rp)</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'harga'|with_brace }}" name="harga" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Jumlah</p></div>
                <div class="eight columns">
                    <input type="text" value="1" name="jumlah" autofocus
                        onkeyup="Item.calculate(this.value, {{ 'harga'|with_brace }});">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Harga total (Rp)</p></div>
                <div class="eight columns">
                    <input type="text" disabled value="{{ 'harga'|with_brace }}"
                        name="total_harga" class="disabled">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Pelanggan</p></div>
                <div class="eight columns">
                    <input type="text" value="Anonymous" name="nama_pelanggan">
                </div>
            </div>
            <div class="row">
                <div class="four columns"><p>Keterangan</p></div>
                <div class="eight columns">
                    <textarea name="dll"></textarea>
                </div>
            </div>
            <div class="row hide-on-print submit-button">
                <button type="submit" class="twelve columns button large">Beli</button>
            </div>
        </form>
    </div>
</script>
<script type="text/javascript">
    $(function() {
        $('.pulsa-beli').on('click', Item.showBeli)
        $('.pulsa-add').on('click', Item.doAdd)
    })
</script>
{% endblock %}

{% block content %}
    {% for tipe in all_type %}
    <div class="twelve columns panel">
        <div class="row">
            <div class="twelve columns">
                <a href="/produk/by/{{tipe.nama}}">
                    <h3>{{tipe.nama_keren}} ({{tipe.nama|get_total_item}})</h3>
                </a>
            </div>
            <hr/>
            <div class="twelve columns">
                <div class="row">
                {% for item in tipe.nama|get_item_by_type:4 %}
                    <div class="three columns">
                        <div class="row">
                            <div class="columns twelve">
                                <ul class="pricing-table">
                                    <li class="title"><a href="/produk/by/{{tipe.nama}}/{{item.id}}">{{item.nama}}</a></li>
                                    <li class="harga price">
                                        <span class="rp">Rp</span>
                                        <span class="h">{{item.harga_jual}}</span>
                                    </li>
                                    <li class="description">
                                        <img src="{{item.img}}" class="img">
                                    </li>
                                    <li class="bullet-item">Stok {{item.stok}}</li>
                                    <li class="cta-button" id="item{{item.id}}"
                                         data-id="{{item.id}}"
                                         data-nama="{{item.nama}}"
                                         data-harga="{{item.harga_jual}}">
                                        <a class="button small five pulsa-beli" href="#">Beli</a>
                                        <a class="button small five pulsa-add success" href="#">Add</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
