{% load static %}
{% load my_menu %}
{% load my_helper %}

<html>
    <head>
        <title>
            {% if title %}
                {{title}}
            {% else %}
                {{'Django'}}
            {% endif %}
            {{user.is_superuser}}
        </title>
        <link href="{% static 'css/foundation.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv.js'%}"></script>
        <![endif]-->

        
        <link rel="shortcut icon" href="{% static 'img/favicon.png'%}"/>
        
        <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/foundation.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.foundation.reveal.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
        
        {% block style %}{% endblock %}
    </head>
    
    <body>
        <div class="row kapalo">
            <div class="twelve columns">

                <nav class="top-bar">
                    <ul class="top-bar">
                        <li class="name"><h1><a href="/">Terminal Cell</a></h1></li>
                        <li class="toggle-topbar"><a href="#"></a></li>
                    </ul>


                    <section>
                        <ul class="left">
                            {% for menu in MENU|get_menu %}
                            <li class="{{menu.status}}"><a href="{{menu.link}}">{{menu.nama}}</a></li>
                            {% endfor %}
                        </ul>

                        <ul class="right">
                            <li class="">
                                <a href="/checkout"><i class="icon-buy"></i></a>
                            </li>
                            <li class="">
                                <a href="/logout"><i class="icon-user"></i></a>
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
        
        <div class="row paruik">
            <div class="twelve columns notif">
            
            </div>
            
            {% block content %}
            
            {% endblock %}
        </div>
        
        <div class="row lancirik">
        
        </div>
        
        <div id="myModal" class="reveal-modal">
            <h2 class="title">Awesome. I have it</h2>
            <div class="body">
                <p class="lead">Your couch. It is mine.</p>
                <p>Iam a cool parapgraph that lives inside of an even cooler modal. Wins</p>
            </div>
            
            <div class="footer" style="text-align:center">
            
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        
        <script type="text/javascript">
            var Modal, Basket, Item;
            
            function LOG() {
                console.log(arguments);
            }
            
            function getCsrfToken() {
                var csrfToken = '',
                    csrf = /csrftoken=([^;]+)/.exec(document.cookie);
                if (csrf.length == 2) {
                    csrfToken = csrf[1];
                }
                return csrfToken;
            }
            
            function ModalCtrl() {
                var self=this, _modal, _title, _body, _footer, closeLink,
                    defaultOpt = {
                        closeOnBackgroundClick: false,
                    }
                    init = function() {
                        _modal = $('#myModal');
                        _title = _modal.find('.title');
                        _body = _modal.find('.body');
                        _footer = _modal.find('.footer');
                        _closeLink = _modal.find('.close-reveal-modal');
                    }
                ;
                
                this.modal = function() { return _modal };
                this.show = function (title, body, opt) {
                    var opts = $.extend(defaultOpt, opt);
                    self.body(body).title(title);
                    return _modal.reveal(opts);
                };
                this.hide = function() {_closeLink.trigger('click')};
                this.showClose = function() {_closeLink.show()};
                this.hideClose = function() {_closeLink.hide()};
                this.title = function(title) { _title.html(title); return self};
                this.body = function(body) { _body.html(body); return self};
                this.footer = function(footer) { _footer.html(footer); return self};
                
                init();
            }
                
            function BasketCtrl() {
                var target = $('#basket'),
                    total = 0,
                    setTotal = function() {
                        target.data('basket', total)
                    };
                    
                this.increase = function(val) {
                    var val = val | 1;
                    total += val;
                    setTotal();
                    return total;
                };
                this.decrease = function(val) {
                    var val = val | 1;
                    total -= val;
                    if (total < 0) total = 0;
                    setTotal();
                    return total;
                }
            }
            
            function ItemCtrl(item) {
                var self=this,
                    formBeli,
                    init = function() {
                        formBeli = $('#form-beli-template').html()
                    };
                    
                self.showBeli = function(e) {
                    var data = $(this).parent().data(),
                        html = formBeli.tinyTpl(data);
                    Modal.show('Form pembelian', html)
                    Modal.modal().find('input[name=jumlah]').focus();
                };
                self.doAdd = function (e) {
                    var that = $(this),
                        id = that.data('id'),
                        data = {id:id, type:'add'},
                        afterShow = function() {
                            $.ajax({
                                url: '/produk/add/',
                                data: data
                            })
                            .done(function(response){
                                if(response.status) {
                                    Modal.title('Proses berhasil.');
                                    Basket.increase();
                                }
                                else {
                                    Modal.title('Proses gagal.');
                                }
                            })
                        }
                    ;
                    
                    Modal.show('Loading..', 'Item sedang ditambahkan ke keranjang belanja.', {opened:afterShow});
                    Modal.hideClose();
                };
                
                self.calculate = function(value, harga) {
                    var totalHarga = $('input[name=total_harga]'),
                        total = parseFloat(value),
                        disable = (isNaN(total) || total < 1)
                        ;
                    
                    if (disable) {
                        totalHarga.val(0);
                        Modal.footer('Masukkan angka besar dari 1.');
                    }
                    else {
                        Modal.footer('');
                        var total = parseInt(value) * harga;
                        totalHarga.val(total);
                    }
                    Modal.modal().find('button').attr('disabled', disable);
                };
                
                self.doBeli = function(form) {
                    return false;
                }
                
                init();
            }
            
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                dataType: 'json',
                method: 'post',
                error: function(jqxhr, error, message) {
                    LOG(jqxhr, error, message);
                    alert(message);
                }
            });
            
            $(document).ajaxComplete(function() {
                Modal.showClose();
            })
            
            String.prototype.tinyTpl = function(obj) {
                return this.replace(/{{ "(\w+)"|with_brace }}/gm, function(match, captured, index) {
                    return (obj.hasOwnProperty(captured) && typeof(obj[captured]) == 'function') ?
                        obj[captured].apply(this, arguments) :
                        obj[captured] || match
                    ;
                })
            }
            
            $(function() {
                $('.harga .h').hargaIndonesia();
                
                Modal = new ModalCtrl();
                Basket = new BasketCtrl();
                Item = new ItemCtrl();
            })
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
