{% load static %}
{% load my_menu %}
{% load my_helper %}
<!DOCTYPE html>
<!--[if IE 8]>
    <html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" > <!--<![endif]-->
    <head>
        <title>
            {% if title %}
                {{title}}
            {% else %}
                {{'Django'}}
            {% endif %}
            {{user.is_superuser}}
        </title>
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'css/foundation.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{% static 'js/html5shiv.js'%}"></script>
        <![endif]-->

        
        <link rel="shortcut icon" href="{% static 'img/favicon.png'%}"/>
        
        <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/foundation.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.foundation.reveal.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
        <style type="text/css" media="print">
            .hide-on-print, .close-reveal-modal {
                display: none;
            }
            .show-on-print {
                display: block;
            }
            .show-on-print input,textarea {
                border: none;
            }
        </style>
        <style>
            .harga{
                text-align: right;
            }
            .profile i {
                margin-top: 17px;
            }   
        </style>
        {% block style %}{% endblock %}
    </head>
    
    <body>
        <div class="row kapalo hide-on-print">
            <div class="twelve columns">

                <nav class="top-bar">
                    <ul class="top-bar">
                        <li class="name"><h1><a href="/">Terminal Cell</a></h1></li>
                        <li class="toggle-topbar"><a href="#"></a></li>
                    </ul>


                    <section>
                        <ul class="left">
                            {% for menu in MENU|get_menu %}
                                {% if menu.group == 0 %}
                                    <li class="{{menu.status}}"><a href="{{menu.link}}">{{menu.nama}}</a></li>
                                {% elif menu.group == 1 and user.is_authenticated %}
                                    <li class="{{menu.status}}"><a href="{{menu.link}}">{{menu.nama}}</a></li>
                                {% elif menu.group == 2 and user.is_superuser %}
                                    <li class="{{menu.status}}"><a href="{{menu.link}}">{{menu.nama}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                        <ul class="right">
                            <li class="">
                                <a href="/checkout"><i class="icon-buy"></i></a>
                            </li>
                            <li class="profile">
                                {% if user.is_authenticated %}
                                    <a href="/logout" title="Click to logout"><i style="color:red" class="icon-user"></i></a>
                                {% else %}
                                    <a href="/login" title="Click to login"><i style="color:blue" class="icon-user"></i></a>
                                {% endif %}
                            </li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
        
        <div class="row paruik hide-on-print">
            <div class="twelve columns notif">
                {% if login_error %}
                <div data-alert="" class="alert-box alert round">
                    {{login_error}}
                    <a href="" class="close">×</a>
                </div>
                {% endif %}
            </div>
            
            {% block content %}
            
            {% endblock %}
        </div>
        
        <div class="row lancirik">
        
        </div>
        
        <div id="myModal" class="reveal-modal show-on-print">
            <h2 class="title">
                <span class="f-content"></span>
                <span class="f-mark pull-right" style="margin-top: 19px;font-size: 15px;"></span>
            </h2><hr/>
            <div class="body">
                <p class="lead">Your couch. It is mine.</p>
                <p>Iam a cool parapgraph that lives inside of an even cooler modal. Wins</p>
            </div>
            
            <div class="footer">
                <span class="f-content"></span>
                <span class="f-mark pull-right">({{user.username}}) Terminal Cell &copy;</span>
            </div>
            <a class="close-reveal-modal">
                <i class="icon-print" style="display:none"></i>
                <i class="c">&#215;</i></a>
        </div>
        
        <script type="text/javascript">
            var Modal, Basket, Item;
            
            function LOG() {
                console.log(arguments);
            }
            
            function getCsrfToken() {
                var csrfToken = '',
                    csrf = /csrftoken=([^;]+)/.exec(document.cookie);
                if (csrf.length == 2) {
                    csrfToken = csrf[1];
                }
                return csrfToken;
            }
            
            function ModalCtrl() {
                var self=this, _modal, _title, _body, _footer, closeLink,
                    defaultOpt = {
                        closeOnBackgroundClick: false,
                    }
                    init = function() {
                        _modal = $('#myModal');
                        _title = _modal.find('.title');
                        _body = _modal.find('.body');
                        _footer = _modal.find('.footer');
                        _closeLink = _modal.find('.close-reveal-modal');
                    }
                ;
                
                this.modal = function() { return _modal };
                this.show = function (title, body, opt) {
                    var opts = $.extend(defaultOpt, opt);
                    self.body(body).title(title);
                    LOG(opts);
                    return _modal.reveal(opts);
                };
                this.hide = function() {_closeLink.trigger('click')};
                this.showClose = function() {_closeLink.show()};
                this.hideClose = function() {_closeLink.hide()};
                this.title = function(title) { _title.find('.f-content').html(title); return self};
                this.body = function(body) { _body.html(body); return self};
                this.footer = function(footer) { _footer.find('.f-content').html(footer); return self};
                
                init();
            }
                
            function BasketCtrl() {
                var target = $('#basket'),
                    total = 0,
                    setTotal = function() {
                        target.data('basket', total)
                    };
                    
                this.increase = function(val) {
                    var val = val | 1;
                    total += val;
                    setTotal();
                    return total;
                };
                this.decrease = function(val) {
                    var val = val | 1;
                    total -= val;
                    if (total < 0) total = 0;
                    setTotal();
                    return total;
                }
            }
            
            function ItemCtrl(item) {
                var inputOk = true,
                    self=this,
                    formBeli,
                    itemTimer = null,
                    init = function() {
                        formBeli = $('#form-beli-template').html()
                    },
                    ajaxAh = function(url, data) {
                        return $.ajax({url: url, data: data});
                    }
                ;
                    
                self.showBeli = function(e) {
                    var data = $(this).parent().data(),
                        html = formBeli.tinyTpl(data),
                        opt = {closed: function() {self.timer(false)}},
                        title = 'Form pembelian'
                    ;
                    Modal.show(title, html, opt);
                    Modal.footer('');
                    Modal.modal().find('input[name=jumlah]').focus();
                    $('.title .f-mark').html(new Date().toLocaleString());
                    self.timer(true);
                };
                self.timer = function(on){
                    var $timer = $('.title .f-mark');
                    clearInterval(itemTimer);
                    if (on) {
                        itemTimer = setInterval(function() {
                            var now = new Date();
                            $timer.html(now.toLocaleString());
                        }, 1000)
                    }
                };
                self.doAdd = function (e) {
                    var that = $(this),
                        id = that.parent().data('id'),
                        data = {id:id, type:'add', jumlah:1},
                        afterShow = function() {
                            ajaxAh('/produk/add/', data)
                            .done(function(response){
                                if(response.status) {
                                    Modal.title('Proses berhasil.');
                                    Basket.increase();
                                }
                                else {
                                    Modal.title('Proses gagal.');
                                }
                            })
                        }
                    ;
                    
                    Modal.show('Loading..', 'Item sedang ditambahkan ke keranjang belanja.', {opened:afterShow});
                    Modal.hideClose();
                };
                
                self.calculate = function(value, harga) {
                    var totalHarga = $('input[name=total_harga]'),
                        total = parseFloat(value)
                    ;
                    inputOk = !(isNaN(total) || total < 1);
                    
                    if (!inputOk) {
                        totalHarga.val(0);
                        Modal.footer('Masukkan angka besar dari 1.');
                    }
                    else {
                        Modal.footer('');
                        var total = parseInt(value) * harga;
                        totalHarga.val(total);
                    }
                    Modal.modal().find('button').attr('disabled', !inputOk);
                };
                
                self.doBeli = function(form) {
                    var form = $(form);
                    if (! inputOk) {
                        Modal.footer('Input salah, check kembali.');
                    }
                    else {
                        var data, url = '/produk/beli/',
                            inputDisabled = form.find('input.disabled');
                        inputDisabled.each(function(index, obj) {
                            obj.removeAttribute('disabled');
                        });
                        data = form.serialize();
                        Modal.footer('Loading...');
                        ajaxAh(url, data)
                            .done(function(response) {
                                if(response.status) {
                                    self.timer(false);
                                    Modal.title('Struk pembelian.');
                                    Modal.footer('Kode: ' + response.code);
                                    form.find('.submit-button').remove();
                                    var pemb = form.find('select[name=pembayaran]'),
                                        pembP = pemb.parent(),
                                        val = pemb.val();
                                    pemb.remove();
                                    pembP.html('<h4 style="margin:0">'+val+'</h4>');
                                    
                                    form.find('input').each(function(i, obj) {
                                        obj.setAttribute('disabled', 'disabled');
                                    });
                                    $('.icon-print').show()
                                        .on('click', function(e) {
                                            e.stopPropagation();
                                            window.print();
                                        })
                                }
                                else {
                                    Modal.footer(response.message);
                                    inputDisabled.each(function(index, obj) {
                                        obj.setAttribute('disabled', 'disabled');
                                    })
                                }
                            });
                    }
                    return false;
                }
                
                init();
            }
            
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
                },
                dataType: 'json',
                method: 'post',
                error: function(jqxhr, error, message) {
                    LOG(jqxhr, error, message);
                    alert(message);
                }
            });
            
            $(document).ajaxComplete(function() {
                Modal.showClose();
            })
            
            String.prototype.tinyTpl = function(obj) {
                return this.replace(/{{ "(\w+)"|with_brace }}/gm, function(match, captured, index) {
                    return (obj.hasOwnProperty(captured) && typeof(obj[captured]) == 'function') ?
                        obj[captured].apply(this, arguments) :
                        obj[captured] || match
                    ;
                })
            }
            
            $(function() {
                $('.harga .h').hargaIndonesia();
                
                Modal = new ModalCtrl();
                Basket = new BasketCtrl();
                Item = new ItemCtrl();
                
                $('.item-beli').on('click', Item.showBeli)
                $('.item-add').on('click', Item.doAdd)
            })
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
